<div class="row">
    <% @courses.each do |c| %>
    <div class="offset-md-3 col-md-6">
        <div class="card text-xs-center">
            <img class="card-img-top" src="https://ga-core.s3.amazonaws.com/production/uploads/program/default_image/517/thumb_Intellegent_business_planning.jpg" alt="Card image cap">
            <div class="card-block">
                <h4 class="card-title"><%= c.title %></h4>
                <p class="card-text"><%= c.description %></p>
                <%= link_to 'Go to Course', c, class: 'btn btn-primary' %>
            </div>
            <div class="card-footer text-muted">
                Last worked on: 2 days ago
            </div>
        </div>
    </div>
    <% end %>
</div>
