<h1></h1>
<p> </p>
<div class="jumbotron">
  <h1 class="display-3"><%= @course.title %></h1>
  <p class="lead"><%= @course.description %></p>
  <hr class="m-y-2">
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Next Lesson</a>
    <div class="text-xs-center" id="example-caption-4">Course Progress&hellip; 45%</div>
    <progress class="progress" value="45" max="100" aria-describedby="example-caption-4"></progress>
  </p>
</div>
<ul class="list-group">
  <li class="list-group-item">
    <h5>More Info</h5>
    <p>This course is 5 hours long</p>
  </li>
  <li class="list-group-item">
    <h5>Progress</h5>
    <p>You are about 45% done with the course.</p>
  </li>
</ul>
